{% extends "base.html" %}
{% load static %}
{% block title %} Booking {% endblock %}


{% block content %}
<div class="content">
			<!---contact--->
			<div class="contact">
				<div class="container">


					<div class="col-md-4">
						<h2>Booking</h2><br>
						<form action="#" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}<br>
							<input type="submit" value="Submit">
							<input type="reset" value="Clear" > <br>
							{% if messages %}
							<ul>
								{% for message in messages %}
									<li>{{ message }}</li>
								{% endfor %}
							</ul>
							{% endif %}
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>



</div>
 <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	$(function() {
		$("#id_checkindate").datepicker({
    dateFormat: 'dd/mm/yy',
    changeMonth: true,
    changeYear: true,
    minDate:  new Date(),
    onSelect: function(){
        $('#id_checkoutdate').datepicker('option', 'minDate', $("#id_checkindate").datepicker("getDate", "+2d"));
    }
    }).datepicker("setDate", new Date());

	$("#id_checkoutdate").datepicker({
    dateFormat: 'dd/mm/yy',
    changeMonth: true,
    changeYear: true,

    });

	  });
	$(document).ready(function() {
		$("input[type='number']").addClass("form-control")
		$("select").addClass("form-control")
		$("input[type='text']").addClass("form-control")
		$("input[type='password']").addClass("form-control")
		$("input[type='submit']").addClass("btn btn-success")
		$("input[type='reset']").addClass("btn btn-danger")
	})

</script>
{% endblock %}