{% extends "base.html" %}
{% load static %}
{% block title %} Signup {% endblock %}


{% block content %}
<div class="content">
			<!---contact--->
			<div class="contact">
				<div class="container">


					<div class="col-md-8">
						<h4>Signup</h4>
						<form action="#" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
							<input type="submit" value="Submit" >
							<input type="reset" value="Clear" >
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
</div>
{% endblock %}